<div>
    <div class="header">
        <img class="profile-image" src="assets/icon.png" style="width: 100px;height: 100px;margin-bottom: 5px;" />
        <h3>Username</h3>
        <p>email@mail.com</p>
    </div>
    <hr class="line-color">
    <div class="content">
        <div class="settings">
            <h2>Account Settings</h2>
            <p>Change Username</p>
            <p>Change Email</p>
            <p>Change Password</p>
        </div>
        <hr class="line-color">
        <div class="favs">
            <h2>Your cafés</h2>
            <p>Cafe 1</p>
            <p>Cafe 1</p>
            <p>Cafe 1</p>
            <p>Cafe 1</p>
        </div>
    </div>

</div>
